
.sw_background {
	background: url("../../assets/bg.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.sw_logo {
	    background: url("../../assets/sw_logo.png");
    background-repeat: no-repeat;
    /* background-position: left top; */
    background-size: cover;
    height: 100px;
    width: 180px;
}
.container-fluid {
	margin-top: -20px;
}
.sw_text {
	color: #131312 !important;
    text-shadow: 4px 4px 4px #d1cb03;
    font-family: cursive;
}

.sw-logo-container {
	padding-bottom: 100px;
}
.center-align {
	text-align: center;
}
.login-container {
    margin: 0px auto;
    width: 50%;
    border: 1px solid #d1cb03;
    border-radius: 25px;
    padding: 10px;
}
.login-container .login-div  {
	color: #d1cb03;
    font-family: cursive;
    margin: 5px 0px;
	padding: 3px;
	overflow: hidden;
}

.right-align {
	float: right;
	padding-right: 80px;
}

@media (max-width: 767px) {

	.center-align {
		text-align: center !important;
		position: relative;
	}
	body {
		font-size: 14px !important;
	}
}