.sw_bg1{
    background: url("../../assets/sw_bg1.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    height: 100%;
    width: 100%;
}

