.sw_bg1{
    background: url("../../assets/sw_bg1.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.sw_text1 {
    margin-top: 15px;
    border-radius: 25px;
    color: #d1cb03;
    font-family: cursive;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #d1cb03;
    cursor: pointer;
}

.sw_text {
	color: #131312 !important;
    text-shadow: 4px 4px 4px #d1cb03;
    font-family: cursive;
}

.right-align {
	float: right;
	padding-right: 80px;
}